.App {
  text-align: center;
}
.world-div{
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count:3;
    margin-top: 3%;
}
.div-table{
  display: flex;
  justify-content: space-between;
  margin: 0 30%;
}
.rows{
  text-align: center;
  font-size: 1.5rem;

}
.country{
  border: 4px solid rgb(207, 148, 0);
  padding: 1%;
}
button {
  border: none;
  
}